<div class="month mb-3"><h3>2021年3月</h3></div>
  <ul class="d-flex justify-content-center week mb-5">
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay"><i class="fas fa-angle-double-left"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay"><i class="fas fa-angle-double-right"></i></span>
    </li>
  </ul>