<ul class="d-flex detail flex-column justify-content-between mb-5">
    <li class="d-flex justify-content-between align-items-center py-3 border border-secondary detailItem">
      <div class="d-flex justify-content-between align-items-center col-10">
        <div class="detailMain d-flex">
          <div class="detailIcon mr-3 d-flex align-items-center"><i class="fas fa-home fa-3x"></i></div>
          <div class="detailDescription d-flex flex-column">
            <span class="detailTitle mb-1">今天</span>
            <div class="detailTime">2021/03/31</div>
          </div>
        </div>
        <div class="detailSpent d-flex flex-column align-items-end mr-3">
          <span class="mb-1 text-danger">-<i class="fas fa-dollar-sign mr-2 ml-2"></i>5000</span>
          <span class="mb-1 text-secondary"><i class="fas fa-dollar-sign mr-2 ml-2"></i>1000</span>
        </div>
      </div>
      <div class="col-2">
        <ul class="d-flex justify-content-end">
          <li class="mr-3 contentIcon">
            <a href="/" class="contentIcon" data-toggle="modal" data-target="#editModal"
              ><i class="fas fa-edit fa-lg"></i
            ></a>
          </li>
          <li class="contentIcon">
            <a href="/" class="contentIcon trash" data-toggle="modal" data-target="#deleteModal"
              ><i class="fas fa-trash fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="d-flex justify-content-between align-items-center py-3 border border-secondary detailItem">
      <div class="d-flex justify-content-between align-items-center col-10">
        <div class="detailMain d-flex">
          <div class="detailIcon mr-3 d-flex align-items-center"><i class="fas fa-home fa-3x"></i></div>
          <div class="detailDescription d-flex flex-column">
            <span class="detailTitle mb-1">今天</span>
            <div class="detailTime">2021/03/31</div>
          </div>
        </div>
        <div class="detailSpent d-flex flex-column align-items-end mr-3">
          <span class="mb-1 text-danger">-<i class="fas fa-dollar-sign mr-2 ml-2"></i>5000</span>
          <span class="mb-1 text-secondary"><i class="fas fa-dollar-sign mr-2 ml-2"></i>1000</span>
        </div>
      </div>
      <div class="col-2">
        <ul class="d-flex justify-content-end">
          <li class="mr-3 contentIcon">
            <a href="#" class="contentIcon" data-toggle="modal" data-target="#editModal"
              ><i class="fas fa-edit fa-lg"></i
            ></a>
          </li>
          <li class="contentIcon">
            <a href="#" class="contentIcon trash" data-toggle="modal" data-target="#deleteModal"
              ><i class="fas fa-trash fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="d-flex justify-content-between align-items-center py-3 border border-secondary detailItem">
      <div class="d-flex justify-content-between align-items-center col-10">
        <div class="detailMain d-flex">
          <div class="detailIcon mr-3 d-flex align-items-center"><i class="fas fa-home fa-3x"></i></div>
          <div class="detailDescription d-flex flex-column">
            <span class="detailTitle mb-1">今天</span>
            <div class="detailTime">2021/03/31</div>
          </div>
        </div>
        <div class="detailSpent d-flex flex-column align-items-end mr-3">
          <span class="mb-1 text-danger">-<i class="fas fa-dollar-sign mr-2 ml-2"></i>5000</span>
          <span class="mb-1 text-secondary"><i class="fas fa-dollar-sign mr-2 ml-2"></i>1000</span>
        </div>
      </div>
      <div class="col-2">
        <ul class="d-flex justify-content-end">
          <li class="mr-3 contentIcon">
            <a href="#" class="contentIcon" data-toggle="modal" data-target="#editModal"
              ><i class="fas fa-edit fa-lg"></i
            ></a>
          </li>
          <li class="contentIcon">
            <a href="#" class="contentIcon trash" data-toggle="modal" data-target="#deleteModal"
              ><i class="fas fa-trash fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>