<ul class="d-flex spent justify-content-between text-right mb-5">
    <li class="col-3">
      <span class="spentTitle mb-2">本月收入</span>
      <span class="spentPrice d-flex align-items-center justify-content-end">
        <i class="fas fa-dollar-sign mr-3"></i>3000
      </span>
    </li>
    <li class="col-3">
      <span class="spentTitle mb-2">本月支出</span>
      <span class="spentPrice d-flex align-items-center justify-content-end">
        -<i class="fas fa-dollar-sign mr-3 ml-3"></i>3000
      </span>
    </li>
    <li class="col-3">
      <span class="spentTitle mb-2">目前剩餘</span>
      <span class="spentPrice d-flex align-items-center justify-content-end">
        <i class="fas fa-dollar-sign mr-3 ml-3"></i>3000
      </span>
    </li>
  </ul>