<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container d-flex justify-content-between">
      <a class="navbar-brand brandTitle" href="/">
        老爸的私房錢
      </a>
    </div>
  </nav>

  <div class="banner"></div>
</header>
