<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container d-flex justify-content-start ">
      {{#if isIndex}}
      <a class="text-white px-2 py-2" href="/"><i class="fas fa-arrow-left fa-lg"></i></a>
      {{/if}}
      <a class="navbar-brand" href="/">
        Chris的記帳本
      </a>
    </div>
  </nav>
</header>
