<div class="d-flex col-12 flex-wrap mb-5">
    <div class="dropdown text-right col-lg-6 col-12 pb-3">
      <form action="/expense/category" method="POST" id="sortForm">
        <select class="custom-select" id="sortSelect" onchange="this.form.submit();" name="method">
          <option selected disabled>類別</option>
          <option value="all">全部</option>
          <option value="home">家居物業</option>
          <option value="traffic">交通出行</option>
          <option value="entertainment">休閒娛樂</option>
          <option value="food">餐飲食品</option>
          <option value="other">其他</option>
        </select>
      </form>
    </div>

    <form action="/expense/date" method="POST" id="dateForm" class="col-lg-6 col-12 pb-3">
    <div class="input-group date">
      <input
        type="text"
        class="form-control"
        placeholder="Choose Date"
        aria-label="choose date"
        aria-describedby="date"
        name="date"
        value="Choose Date"
        onchange="this.form.submit();" name="method"
      />
      <div class="input-group-append">
        <span class="input-group-text date" id="date"> <i class="far fa-calendar-alt"></i> </span>
      </div>
    </div>
    </form>
  </div>