<div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
  <div class="month mb-3"><h3>2021年3月</h3></div>
  <ul class="d-flex justify-content-center week mb-5">
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay"><i class="fas fa-angle-double-left"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay">週日</span>
      <span class="day">28</span>
      <span class="spot"><i class="fas fa-circle fa-xs"></i></span>
    </li>
    <li class="d-flex flex-column px-3 py-2 text-center align-items-center justify-content-center dayItem">
      <span class="weekOfDay"><i class="fas fa-angle-double-right"></i></span>
    </li>
  </ul>

  <div class="dropdown mb-5 text-right col-lg-6 col-12">
    <form action="/expense/category" method="POST" id="sortForm">
      <select class="custom-select" id="sortSelect" onchange="this.form.submit();" name="method">
        <option selected disabled>類別</option>
        <option value="all">全部</option>
        <option value="_id-asc">家居物業</option>
        <option value="name-asc">交通出行</option>
        <option value="name-desc">休閒娛樂</option>
        <option value="category-asc">餐飲食品</option>
        <option value="category-desc">其他</option>
      </select>
    </form>
  </div>
  <div class="input-group date">
    <input type="text" class="form-control" /><span class="input-group-addon"
      ><i class="far fa-calendar-alt fa-2x"></i
    ></span>
  </div>

  <!-- <input type="text" name="date" class="form-control datepicker" value="02-16-2012"> -->

  <ul class="d-flex spent justify-content-between text-right mb-5">
    <li class="col-3">
      <span class="spentTitle mb-2">本月收入</span>
      <span class="spentPrice d-flex align-items-center justify-content-end">
        <i class="fas fa-dollar-sign mr-3"></i>3000
      </span>
    </li>
    <li class="col-3">
      <span class="spentTitle mb-2">本月支出</span>
      <span class="spentPrice d-flex align-items-center justify-content-end">
        -<i class="fas fa-dollar-sign mr-3 ml-3"></i>3000
      </span>
    </li>
    <li class="col-3">
      <span class="spentTitle mb-2">目前剩餘</span>
      <span class="spentPrice d-flex align-items-center justify-content-end">
        <i class="fas fa-dollar-sign mr-3 ml-3"></i>3000
      </span>
    </li>
  </ul>

  <ul class="d-flex detail flex-column justify-content-between mb-5">
    <li class="d-flex justify-content-between align-items-center py-3 border border-secondary detailItem">
      <div class="d-flex justify-content-between align-items-center col-10">
        <div class="detailMain d-flex">
          <div class="detailIcon mr-3 d-flex align-items-center"><i class="fas fa-home fa-3x"></i></div>
          <div class="detailDescription d-flex flex-column">
            <span class="detailTitle mb-1">今天</span>
            <div class="detailTime">2021/03/31</div>
          </div>
        </div>
        <div class="detailSpent d-flex flex-column align-items-end mr-3">
          <span class="mb-1 text-danger">-<i class="fas fa-dollar-sign mr-2 ml-2"></i>5000</span>
          <span class="mb-1 text-secondary"><i class="fas fa-dollar-sign mr-2 ml-2"></i>1000</span>
        </div>
      </div>
      <div class="col-2">
        <ul class="d-flex justify-content-end">
          <li class="mr-3 contentIcon">
            <a href="#" class="contentIcon" data-toggle="modal" data-target="#editModal"
              ><i class="fas fa-edit fa-lg"></i
            ></a>
          </li>
          <li class="contentIcon">
            <a href="#" class="contentIcon trash" data-toggle="modal" data-target="#deleteModal"
              ><i class="fas fa-trash fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="d-flex justify-content-between align-items-center py-3 border border-secondary detailItem">
      <div class="d-flex justify-content-between align-items-center col-10">
        <div class="detailMain d-flex">
          <div class="detailIcon mr-3 d-flex align-items-center"><i class="fas fa-home fa-3x"></i></div>
          <div class="detailDescription d-flex flex-column">
            <span class="detailTitle mb-1">今天</span>
            <div class="detailTime">2021/03/31</div>
          </div>
        </div>
        <div class="detailSpent d-flex flex-column align-items-end mr-3">
          <span class="mb-1 text-danger">-<i class="fas fa-dollar-sign mr-2 ml-2"></i>5000</span>
          <span class="mb-1 text-secondary"><i class="fas fa-dollar-sign mr-2 ml-2"></i>1000</span>
        </div>
      </div>
      <div class="col-2">
        <ul class="d-flex justify-content-end">
          <li class="mr-3 contentIcon">
            <a href="#" class="contentIcon" data-toggle="modal" data-target="#editModal"
              ><i class="fas fa-edit fa-lg"></i
            ></a>
          </li>
          <li class="contentIcon">
            <a href="#" class="contentIcon trash" data-toggle="modal" data-target="#deleteModal"
              ><i class="fas fa-trash fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
    <li class="d-flex justify-content-between align-items-center py-3 border border-secondary detailItem">
      <div class="d-flex justify-content-between align-items-center col-10">
        <div class="detailMain d-flex">
          <div class="detailIcon mr-3 d-flex align-items-center"><i class="fas fa-home fa-3x"></i></div>
          <div class="detailDescription d-flex flex-column">
            <span class="detailTitle mb-1">今天</span>
            <div class="detailTime">2021/03/31</div>
          </div>
        </div>
        <div class="detailSpent d-flex flex-column align-items-end mr-3">
          <span class="mb-1 text-danger">-<i class="fas fa-dollar-sign mr-2 ml-2"></i>5000</span>
          <span class="mb-1 text-secondary"><i class="fas fa-dollar-sign mr-2 ml-2"></i>1000</span>
        </div>
      </div>
      <div class="col-2">
        <ul class="d-flex justify-content-end">
          <li class="mr-3 contentIcon">
            <a href="#" class="contentIcon" data-toggle="modal" data-target="#editModal"
              ><i class="fas fa-edit fa-lg"></i
            ></a>
          </li>
          <li class="contentIcon">
            <a href="#" class="contentIcon trash" data-toggle="modal" data-target="#deleteModal"
              ><i class="fas fa-trash fa-lg"></i
            ></a>
          </li>
        </ul>
      </div>
    </li>
  </ul>

  <button type="button" class="btn btn-secondary">記一筆</button>
</div>
