<div class="container my-5 d-flex flex-column justify-content-center align-items-center">
  {{!-- {{>datePagination}} --}}
  {{>selections}}
  {{>expense}}
  {{>detailContent}}

  <button class="btn btn-secondary recordBtn" data-toggle="modal" data-target="#addModal">記一筆</button>
</div>
{{>addModal}}
{{>editModal}}
{{>deleteModal}}
