<div class="container mt-5 d-flex flex-column justify-content-center align-items-center">
  <nav aria-label="Page navigation example ">
    <ul class="pagination d-flex align-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周日 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周一 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周二 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周三 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周四 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周五 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="/"><span class="week">周六 28日</span></a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <div class="dropdown mb-3 text-right w-100">
    <form action="/restaurants/sort" method="GET" id="sortForm">
      <select class="custom-select" id="sortSelect" onchange="this.form.submit();" name="method">
        <option selected disabled>類別</option>
        <option value="_id-asc">預設排序</option>
        <option value="name-asc">名稱 A->Z</option>
        <option value="name-desc">名稱 Z->A</option>
        <option value="category-asc">類別 A->Z</option>
        <option value="category-desc">類別 Z->A</option>
        <option value="rating-descending">評分 由高至低</option>
        <option value="rating-ascending">評分 由低至高</option>
      </select>
    </form>
  </div>
</div>
